.empty-wrap[data-v-5aa36312] {
    width: 100%
}

.empty-wrap .empty[data-v-5aa36312] {
    width: 33.333333vw;
    height: 33.333333vw;
    margin: 0 auto
}

.empty-wrap .text[data-v-5aa36312] {
    color: #f5b9be;
    font-weight: 500;
    font-size: 3.733333vw;
    margin-top: 2.666667vw
}

.recordpage[data-v-20afa168] {
    min-height: 100vh;
    background: #f3f4f6
}

.recordpage .contit[data-v-20afa168] {
    background: #f7f7f9;
    border-radius: 1.333333vw;
    margin-bottom: 2.666667vw;
    padding: 2.666667vw
}

.recordpage .contit .top .leftmy[data-v-20afa168] {
    display: flex;
    align-items: center
}

.recordpage .contit .top .leftmy img[data-v-20afa168] {
    width: 5.866667vw;
    height: 5.866667vw;
    margin-right: 2vw
}

.recordpage .contit .top .leftmy p[data-v-20afa168] {
    font-size: 3.733333vw;
    font-weight: 500;
    color: #000
}

.recordpage .contit .top .time[data-v-20afa168] {
    font-size: 3.2vw;
    color: #333
}

.recordpage .contit .line[data-v-20afa168] {
    width: 60.2rem;
    height: .1rem;
    background: #cecece;
    margin: 2rem auto
}

.recordpage .contit .rightname[data-v-20afa168] {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.recordpage .contit .rightname .leftname p[data-v-20afa168] {
    font-size: 2.6rem;
    color: #777;
    margin-bottom: 1rem
}

.recordpage .contit .rightname .leftname span[data-v-20afa168] {
    font-size: 2.8rem;
    font-family: HelveticaNeue-Medium, HelveticaNeue;
    font-weight: 500;
    color: #ffd631
}

.recordpage .contit .rightname .amount[data-v-20afa168] {
    color: #fa6400;
    font-size: 2.8rem;
    font-weight: 500
}

.recordpage .list-comm[data-v-20afa168] {
    margin-bottom: 2.666667vw
}

.recordpage .list-comm .commsi[data-v-20afa168] {
    height: 13.6vw;
    background: #f7f7f9;
    border-radius: 1.333333vw;
    padding: 2.666667vw
}

.recordpage .list-comm .commsi .comsi-left[data-v-20afa168] {
    display: flex;
    align-items: center;
    text-align: left
}

.recordpage .list-comm .commsi .comsi-left img[data-v-20afa168] {
    width: 5.866667vw;
    height: auto;
    margin-right: 2.666667vw
}

.recordpage .list-comm .commsi .comsi-left .commi-center[data-v-20afa168] :first-child {
    font-size: 3.733333vw;
    color: #000;
    font-weight: 500
}

.recordpage .list-comm .commsi .comsi-left .commi-center[data-v-20afa168] :nth-child(2) {
    font-size: 3.2vw;
    color: #333;
    margin-top: 1.066667vw
}

.recordpage .list-comm .commsi .comsi-right[data-v-20afa168] {
    font-size: 4vw;
    color: #000;
    font-weight: 600
}

[data-v-20afa168] .navboxi {
    padding-top: 4vw;
    background: none
}

[data-v-20afa168] .navboxi .van-nav-bar__content .van-nav-bar__left i {
    color: #000;
    font-size: 4.666667vw
}

[data-v-20afa168] .navboxi .van-nav-bar__content .van-nav-bar__right p {
    font-size: 3.733333vw;
    margin-right: 1.333333vw;
    color: #000
}

[data-v-20afa168] .navboxi .van-nav-bar__content .van-nav-bar__right img {
    width: 5.066667vw;
    height: auto
}

[data-v-20afa168] .navboxi .van-nav-bar__content .van-nav-bar__title {
    color: #000;
    font-size: 4.533333vw;
    font-weight: 600
}

[data-v-20afa168] .navboxi:after {
    display: none
}

[data-v-20afa168] .tabs-box .van-tabs__wrap {
    height: 11.333333vw;
    background: none;
    border-radius: 6vw;
    padding: 1.333333vw 2vw
}

[data-v-20afa168] .tabs-box .van-tabs__wrap .van-tabs__nav {
    background: none;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between
}

[data-v-20afa168] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab {
    width: 48%;
    flex: inherit;
    background: #fff
}

[data-v-20afa168] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab .van-tab__text {
    display: flex;
    align-items: center
}

[data-v-20afa168] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab .van-tab__text p {
    font-size: 3.466667vw;
    color: #666;
    font-weight: 600;
    margin-right: 1.2vw
}

[data-v-20afa168] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab .van-tab__text img {
    width: 2.666667vw;
    height: auto
}

[data-v-20afa168] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab--active {
    background: #fe000b;
    border-radius: 1.333333vw
}

[data-v-20afa168] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab--active .van-tab__text p {
    color: #fff
}

[data-v-20afa168] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tabs__line {
    display: none
}

[data-v-20afa168] .tabs-box .van-tabs__content {
    margin-top: 2.666667vw;
    padding: 0 3.333333vw
}