.rechargepage[data-v-353e64e5] {
    min-height: 100vh;
    background: #f1f2f2
}

.rechargepage .nav-topi[data-v-353e64e5] {
    width: 100%;
    height: 29.333333vw;
    background: url(/ExxonMobil/dist/img/2.19473fef.png) no-repeat;
    background-size: cover;
    padding: 4vw
}

.rechargepage .nav-topi .logotop[data-v-353e64e5] {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.rechargepage .nav-topi .logotop .logo-img[data-v-353e64e5] {
    width: 30.533333vw
}

.rechargepage .nav-topi .logotop .record-btn[data-v-353e64e5] {
    padding: 1.333333vw 2.666667vw;
    background: #fe000b;
    color: #fff;
    font-size: 2.933333vw;
    font-weight: 700
}

.rechargepage .nav-topi .leftance[data-v-353e64e5] {
    display: flex;
    background: #f1f2f2;
    border-radius: 1.2vw;
    padding: 2.666667vw;
    margin-top: 4vw
}

.rechargepage .nav-topi .leftance .balacey[data-v-353e64e5] {
    font-size: 4vw;
    color: #000
}

.rechargepage .nav-topi .leftance .amountk[data-v-353e64e5] {
    font-size: 4vw;
    color: #fe000b;
    font-weight: 700;
    margin-left: 1.333333vw
}

.rechargepage .section-box[data-v-353e64e5] {
    padding: 0 4vw;
    margin-top: 4vw
}

.rechargepage .section-box .modifyot .quickse[data-v-353e64e5] {
    font-size: 4vw;
    color: #333;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1.333333vw
}

.rechargepage .section-box .modifyot .rightfy[data-v-353e64e5] {
    display: flex;
    align-items: center
}

.rechargepage .section-box .modifyot .rightfy img[data-v-353e64e5] {
    width: 4.533333vw;
    height: auto;
    margin-right: 1.066667vw
}

.rechargepage .section-box .modifyot .rightfy p[data-v-353e64e5] {
    font-size: 3.466667vw;
    color: #e21b15;
    font-weight: 700;
    text-decoration: underline
}

.rechargepage .section-box .wrap-box[data-v-353e64e5] {
    background: #fff;
    padding: 4vw;
    border-radius: 1.2vw
}

.rechargepage .section-box .numberbox[data-v-353e64e5] {
    background: #f7f7f9;
    border-radius: 2.666667vw;
    padding: 4vw;
    margin-bottom: 3.333333vw
}

.rechargepage .section-box .numberbox .waylisto p[data-v-353e64e5] {
    font-size: 3.466667vw;
    color: #666;
    font-weight: 500
}

.rechargepage .section-box .numberbox .waylisto span[data-v-353e64e5] {
    font-size: 3.466667vw;
    color: #000;
    font-weight: 500
}

.rechargepage .section-box .numberbox .laststo[data-v-353e64e5] {
    margin-bottom: 0;
    border: 0;
    padding-bottom: 0
}

.rechargepage .section-box .quickse[data-v-353e64e5] {
    font-size: 4vw;
    color: #333;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1.333333vw
}

.rechargepage .section-box .textui[data-v-353e64e5] {
    font-size: 3.466667vw;
    color: #333;
    text-align: left;
    margin-top: 4vw;
    font-weight: 500
}

.rechargepage .section-box .btnsit[data-v-353e64e5] {
    background: #e21b15;
    color: #fff;
    padding: 2.266667vw 1.333333vw;
    width: 66.666667vw;
    font-size: 5.333333vw;
    font-weight: 600;
    margin-top: 6.666667vw
}

[data-v-353e64e5] .navboxi {
    padding-top: 4vw;
    background: none
}

[data-v-353e64e5] .navboxi .van-nav-bar__content .van-nav-bar__left i {
    color: #333;
    font-size: 4.666667vw
}

[data-v-353e64e5] .navboxi .van-nav-bar__content .van-nav-bar__right p {
    font-size: 3.733333vw;
    margin-right: 1.333333vw;
    color: #333;
    font-weight: 500
}

[data-v-353e64e5] .navboxi .van-nav-bar__content .van-nav-bar__right img {
    width: 5.066667vw;
    height: auto
}

[data-v-353e64e5] .navboxi .van-nav-bar__content .van-nav-bar__title {
    color: #333;
    font-size: 4.533333vw;
    font-weight: 600
}

[data-v-353e64e5] .navboxi:after {
    display: none
}

[data-v-353e64e5] .input-box {
    background: #fff;
    border-radius: 2.666667vw;
    height: 13.066667vw;
    padding: 3.333333vw 4vw 1.333333vw;
    margin: 1.333333vw 0 4vw;
    border: 1px solid #000
}

[data-v-353e64e5] .input-box .van-field__left-icon {
    margin-right: 0
}

[data-v-353e64e5] .input-box .van-field__left-icon p {
    color: #263249;
    font-size: 4.666667vw;
    font-weight: 600;
    margin-right: 3.333333vw
}

[data-v-353e64e5] .input-box input {
    font-size: 4.266667vw;
    font-weight: 600;
    color: #000
}

[data-v-353e64e5] .input-box input::-moz-placeholder {
    color: #a0a3b8
}

[data-v-353e64e5] .input-box input::placeholder {
    color: #a0a3b8
}

[data-v-353e64e5] .input-box .van-field__right-icon .eyeimg {
    width: 5.066667vw;
    height: auto
}

[data-v-353e64e5] .input-box .van-field__right-icon .fimgi {
    width: 5.733333vw;
    height: auto
}

[data-v-353e64e5] .input-box:after {
    display: none
}

[data-v-353e64e5] .input-box2 {
    background: #f7f7f9;
    border-radius: 2.666667vw;
    height: 13.066667vw;
    padding: 3.333333vw 4vw 1.333333vw;
    margin: 1.333333vw 0 4vw;
    border: none
}

[data-v-353e64e5] .input-box2 .van-field__left-icon {
    margin-right: 0
}

[data-v-353e64e5] .input-box2 .van-field__left-icon p {
    color: #263249;
    font-size: 4.666667vw;
    font-weight: 600;
    margin-right: 3.333333vw
}

[data-v-353e64e5] .input-box2 input {
    font-size: 4.266667vw;
    font-weight: 600;
    color: #000
}

[data-v-353e64e5] .input-box2 input::-moz-placeholder {
    color: #a0a3b8
}

[data-v-353e64e5] .input-box2 input::placeholder {
    color: #a0a3b8
}

[data-v-353e64e5] .input-box2 .van-field__right-icon .eyeimg {
    width: 5.066667vw;
    height: auto
}

[data-v-353e64e5] .input-box2 .van-field__right-icon .fimgi {
    width: 5.733333vw;
    height: auto
}

[data-v-353e64e5] .input-box2:after {
    display: none
}