.rechargepage[data-v-6bc6321e] {
    min-height: 100vh;
    background: #f1f2f2
}

.rechargepage .nav-topi[data-v-6bc6321e] {
    width: 100%;
    height: 29.333333vw;
    background: url(/ExxonMobil/dist/img/2.19473fef.png) no-repeat;
    background-size: cover;
    padding: 4vw
}

.rechargepage .nav-topi .logotop[data-v-6bc6321e] {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.rechargepage .nav-topi .logotop .logo-img[data-v-6bc6321e] {
    width: 30.533333vw
}

.rechargepage .nav-topi .logotop .record-btn[data-v-6bc6321e] {
    padding: 1.333333vw 2.666667vw;
    background: #fe000b;
    color: #fff;
    font-size: 2.933333vw;
    font-weight: 700
}

.rechargepage .nav-topi .leftance[data-v-6bc6321e] {
    display: flex;
    background: #f1f2f2;
    border-radius: 1.2vw;
    padding: 2.666667vw;
    margin-top: 4vw
}

.rechargepage .nav-topi .leftance .balacey[data-v-6bc6321e] {
    font-size: 4vw;
    color: #000
}

.rechargepage .nav-topi .leftance .amountk[data-v-6bc6321e] {
    font-size: 4vw;
    color: #fe000b;
    font-weight: 700;
    margin-left: 1.333333vw
}

.rechargepage .section-box[data-v-6bc6321e] {
    padding: 0 4vw;
    margin-top: 4vw
}

.rechargepage .section-box .amout-wrap[data-v-6bc6321e] {
    background: #fff;
    padding: 4vw;
    border-radius: 1.333333vw
}

.rechargepage .section-box .quickse[data-v-6bc6321e] {
    font-size: 4vw;
    color: #333;
    font-weight: 500;
    text-align: left;
    margin-bottom: 2vw
}

.rechargepage .section-box .listiot[data-v-6bc6321e] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap
}

.rechargepage .section-box .listiot .list-rechok[data-v-6bc6321e] {
    width: 30%;
    background: #f3f4f6;
    color: #263249;
    padding: 2.666667vw 2vw;
    margin-bottom: 2.666667vw;
    position: relative
}

.rechargepage .section-box .listiot .list-rechok .givei[data-v-6bc6321e] {
    color: #fff;
    font-size: 2.933333vw;
    padding: .266667vw 1.333333vw;
    border-radius: 4vw;
    background: linear-gradient(270deg, #ff6d60, #db1100);
    position: absolute;
    top: -2.666667vw;
    left: 0
}

.rechargepage .section-box .listiot .list-rechok .amouti[data-v-6bc6321e] {
    font-size: 3.733333vw;
    font-weight: 600
}

.rechargepage .section-box .listiot .list-rechok img[data-v-6bc6321e] {
    width: 4.533333vw;
    height: auto;
    position: absolute;
    right: 0;
    top: 0
}

.rechargepage .section-box .listiot .ativeti[data-v-6bc6321e] {
    background: #fee2e1
}

.rechargepage .section-box .method-list[data-v-6bc6321e] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap
}

.rechargepage .section-box .method-list .list-wayot[data-v-6bc6321e] {
    padding: 2.666667vw 1.333333vw;
    width: 30%;
    margin-bottom: 2.666667vw;
    background: #fff;
    position: relative
}

.rechargepage .section-box .method-list .list-wayot .img1[data-v-6bc6321e] {
    width: 4.533333vw;
    height: auto;
    position: absolute;
    right: 0;
    top: 0
}

.rechargepage .section-box .method-list .list-wayot .leftyout[data-v-6bc6321e] {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center
}

.rechargepage .section-box .method-list .list-wayot .leftyout img[data-v-6bc6321e] {
    width: 5.333333vw;
    height: auto;
    margin-right: 1.333333vw
}

.rechargepage .section-box .method-list .list-wayot .leftyout p[data-v-6bc6321e] {
    font-size: 3.733333vw;
    color: #333;
    font-weight: 500;
    text-align: center
}

.rechargepage .section-box .method-list .list-wayot .rightic[data-v-6bc6321e] {
    font-size: 5.333333vw;
    font-weight: 500;
    color: #333
}

.rechargepage .section-box .method-list .chotype[data-v-6bc6321e] {
    border: none;
    background: #fee2e1
}

.rechargepage .section-box .method-list .chotype .leftyout p[data-v-6bc6321e] {
    font-weight: 700
}

.rechargepage .section-box .textui[data-v-6bc6321e] {
    font-size: 3.466667vw;
    color: #666;
    text-align: left
}

.rechargepage .section-box .btnsit[data-v-6bc6321e] {
    background: #e21b15;
    color: #fff;
    padding: 2.266667vw 1.333333vw;
    width: 66.666667vw;
    font-size: 5.333333vw;
    font-weight: 600;
    margin-top: 6.666667vw
}

[data-v-6bc6321e] .navboxi {
    padding-top: 4vw;
    background: none
}

[data-v-6bc6321e] .navboxi .van-nav-bar__content .van-nav-bar__left i {
    color: #333;
    font-size: 4.666667vw
}

[data-v-6bc6321e] .navboxi .van-nav-bar__content .van-nav-bar__right p {
    font-size: 3.733333vw;
    margin-right: 1.333333vw;
    color: #333;
    font-weight: 500
}

[data-v-6bc6321e] .navboxi .van-nav-bar__content .van-nav-bar__right img {
    width: 5.066667vw;
    height: auto
}

[data-v-6bc6321e] .navboxi .van-nav-bar__content .van-nav-bar__title {
    color: #333;
    font-size: 4.533333vw;
    font-weight: 600
}

[data-v-6bc6321e] .navboxi:after {
    display: none
}

[data-v-6bc6321e] .input-box {
    background: #fff;
    border-radius: 2.666667vw;
    height: 13.066667vw;
    padding: 3.333333vw 4vw 1.333333vw;
    margin: 1.333333vw 0 4vw;
    margin-top: 4vw;
    border: 1px solid #000
}

[data-v-6bc6321e] .input-box .van-field__left-icon {
    margin-right: 0
}

[data-v-6bc6321e] .input-box .van-field__left-icon p {
    color: #263249;
    font-size: 4.666667vw;
    font-weight: 600;
    margin-right: 3.333333vw
}

[data-v-6bc6321e] .input-box input {
    font-size: 4.266667vw;
    font-weight: 600;
    color: #000
}

[data-v-6bc6321e] .input-box input::-moz-placeholder {
    color: #a0a3b8
}

[data-v-6bc6321e] .input-box input::placeholder {
    color: #a0a3b8
}

[data-v-6bc6321e] .input-box .van-field__right-icon .eyeimg {
    width: 5.066667vw;
    height: auto
}

[data-v-6bc6321e] .input-box .van-field__right-icon .fimgi {
    width: 5.733333vw;
    height: auto
}

[data-v-6bc6321e] .input-box:after {
    display: none
}