.bottom[data-v-70b08a54] {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: -1px;
    z-index: 2;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 -.266667vw 1.333333vw 0 rgba(0, 0, 0, .06)
}

.bottom .flex-bom[data-v-70b08a54] {
    height: 15.466667vw;
    justify-content: space-around !important
}

.item[data-v-70b08a54] {
    flex: 1;
    color: hsla(0, 0%, 100%, .35);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: .666667vw;
    position: relative;
    height: 15.466667vw
}

.item.center img[data-v-70b08a54] {
    width: 12vw;
    height: 12vw;
    transform: translateY(-1.333333vw);
    border-radius: 13.333333vw
}

.item.center p[data-v-70b08a54] {
    display: none
}

.item .img-box[data-v-70b08a54] {
    top: 2.666667vw;
    position: absolute
}

.item .img-box .imgc[data-v-70b08a54] {
    width: 6.666667vw;
    height: auto
}

.item .img-box .imgf[data-v-70b08a54] {
    transform: translateY(-6vw);
    width: 13.333333vw;
    height: 13.333333vw
}

.item .img-box .img-ball[data-v-70b08a54] {
    width: 6.666667vw;
    height: 6.666667vw;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -64%)
}

.item .img-box .ballactive[data-v-70b08a54] {
    -webkit-animation: kserr-70b08a54 1s linear;
    animation: kserr-70b08a54 1s linear
}

@-webkit-keyframes kserr-70b08a54 {
    0% {
        transform: translate(-50%, -64%) rotate(0deg)
    }
    to {
        transform: translate(-50%, -64%) rotate(2turn)
    }
}

@keyframes kserr-70b08a54 {
    0% {
        transform: translate(-50%, -64%) rotate(0deg)
    }
    to {
        transform: translate(-50%, -64%) rotate(2turn)
    }
}

.item .hand-img[data-v-70b08a54] {
    transform: translateY(-.4vw)
}

.item .item-pone[data-v-70b08a54] {
    margin-top: 7.333333vw;
    font-size: 3.2vw
}

.img-wrap[data-v-70b08a54] {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13.333333vw;
    position: absolute;
    top: 2.666667vw;
    left: 50%;
    transform: translateX(-50%)
}

img[data-v-70b08a54] {
    width: 4.8vw;
    height: 4.8vw
}

.iconfont[data-v-70b08a54] {
    font-size: 3.2vw;
    margin-bottom: 2.666667vw
}

.active[data-v-70b08a54] {
    font-weight: 600;
    color: #000;
    position: relative;
    z-index: -1
}

.active .img-wrap img[data-v-70b08a54] {
    width: 6.133333vw;
    height: 6.133333vw
}

.active .iconfont[data-v-70b08a54] {
    color: #333
}

.mine-popup-left[data-v-70b08a54].van-popup {
    width: 81vw;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background: #fff
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #fff
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .signout-wrap::v-deep.van-popup {
    border-radius: 1.333333vw;
    width: 94%;
    margin-left: 3%;
    margin-bottom: 1.333333vw;
    padding: 3.333333vw 2vw 2vw;
    box-sizing: border-box;
    text-align: left
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .signout-wrap::v-deep.van-popup .signout-content .van-icon {
    font-size: 2.666667vw;
    color: #2852e5;
    border-radius: 1.066667vw;
    padding: 1.333333vw;
    margin-bottom: 1.333333vw;
    background: rgba(40, 82, 229, .05)
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .signout-wrap::v-deep.van-popup .signout-content h3 {
    margin: 0 0 .666667vw;
    font-weight: 900
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .signout-wrap::v-deep.van-popup .signout-content p {
    margin-bottom: 2vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .signout-wrap::v-deep.van-popup .signout-content .van-checkbox__icon {
    border-radius: .266667vw;
    overflow: hidden
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .signout-wrap::v-deep.van-popup .signout-content .van-checkbox__label {
    color: #fff;
    font-weight: 700
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .signout-wrap::v-deep.van-popup .signout-content .btn-wrap {
    margin-bottom: 1.333333vw;
    display: flex;
    justify-content: space-around
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .signout-wrap::v-deep.van-popup .signout-content .btn-wrap .confirm {
    background: linear-gradient(90deg, #2852e5, #2852e5)
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .signout-wrap::v-deep.van-popup .signout-content .btn-wrap .confirm .van-button__text {
    color: #fff
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .signout-wrap::v-deep.van-popup .signout-content .btn-wrap .cancel {
    background: rgba(40, 82, 229, .05)
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .signout-wrap::v-deep.van-popup .signout-content .btn-wrap .van-button {
    flex: 0 1 40%;
    height: 5.333333vw;
    line-height: 5.333333vw;
    border-radius: .8vw !important;
    margin-top: 2vw !important;
    box-shadow: none !important
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .signout-wrap::v-deep.van-popup .signout-content .btn-wrap .van-button .van-button__text {
    font-size: 2.133333vw !important
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head {
    width: 100%;
    margin: 0 auto;
    padding: 4.666667vw 2vw 2vw;
    box-sizing: border-box;
    position: relative;
    z-index: 1
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .recharge-wrap {
    position: absolute;
    top: 4.666667vw;
    right: 2vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .recharge-wrap .recharge-item {
    display: flex;
    align-items: center;
    background: #e1f4ff;
    border-radius: 13.333333vw;
    padding: .4vw 1.333333vw;
    font-weight: 600;
    font-size: 1.866667vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .recharge-wrap .recharge-item:nth-of-type(2) {
    margin-top: 1.333333vw;
    background: #fff5d5
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .recharge-wrap .recharge-item img {
    width: 3.6vw;
    height: 3.6vw;
    margin-left: .666667vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .help-wrap {
    margin-bottom: 2vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .help-wrap p {
    font-weight: 700
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .help-wrap .red {
    position: relative;
    z-index: 1
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .help-wrap .red:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 2.666667vw;
    width: .533333vw;
    height: .533333vw;
    background: red;
    border-radius: 100%
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .help-wrap .flex img {
    width: 2.933333vw;
    height: 2.933333vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .help-wrap .flex img:nth-of-type(2) {
    margin-left: 1.333333vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .user-text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    margin: 1.333333vw 0;
    position: relative;
    justify-content: flex-start !important
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .user-text .position-bar {
    position: absolute;
    top: 0;
    right: -3vw;
    padding: 0 1.333333vw;
    height: 4.933333vw;
    line-height: 4.933333vw;
    background: #ffba1c;
    border-radius: 13.333333vw 0 0 13.333333vw;
    font-weight: 700;
    font-size: 1.866667vw;
    display: flex;
    align-items: center
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .user-text .position-bar .van-icon {
    -webkit-animation: mymoveac-70b08a54 1s infinite;
    animation: mymoveac-70b08a54 1s infinite
}

@-webkit-keyframes mymoveac-70b08a54 {
    0% {
        opacity: .1
    }
    50% {
        opacity: 1
    }
    to {
        opacity: .1
    }
}

@keyframes mymoveac-70b08a54 {
    0% {
        opacity: .1
    }
    50% {
        opacity: 1
    }
    to {
        opacity: .1
    }
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .user-text .user-text-logo {
    width: 9.333333vw;
    height: 9.333333vw;
    margin: 0 auto;
    border-radius: 13.333333vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .user-text .user-text-item {
    flex: 1
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .user-text .user-text-item p {
    font-size: 1.866667vw;
    font-weight: 900;
    line-height: 4vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .user-text .user-text-item span {
    font-size: 1.6vw;
    line-height: 2.533333vw;
    color: #999
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .head .user-text .user-name {
    font-size: 2.4vw;
    margin: .266667vw 0
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .mymine {
    width: 100%;
    margin: 2vw auto 0
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .mymine .after {
    margin-top: 2vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .mymine .after:after {
    width: 100%;
    height: 1px;
    transform: scaleY(.5);
    background: hsla(0, 0%, 100%, .5)
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .mymine .mymine-box {
    padding: 1.733333vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .mymine .mymine-box .mymine-box-div {
    display: flex;
    align-items: center
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .mymine .mymine-box .mymine-box-div .mymine-box-p {
    margin-left: 1.6vw;
    font-weight: 500
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .mymine .mymine-box .mymine-box-div img {
    width: 2.933333vw;
    height: 2.933333vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .mymine .mymine-box .van-icon {
    opacity: 0
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .assets-wrap {
    margin-bottom: 2.666667vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .assets-wrap .assets-item {
    flex: 1;
    font-weight: 500
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .assets-wrap .assets-item p {
    font-size: 2.133333vw;
    font-weight: 600
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .assets-wrap .assets-item span {
    font-size: 1.6vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .coupon-card-wrap {
    width: calc(100% - 4vw);
    margin: 0 auto;
    height: 8.666667vw;
    padding: 1.333333vw 2vw;
    box-sizing: border-box;
    background: linear-gradient(270deg, #717d91, #424b56);
    border-radius: 1.333333vw 1.333333vw 0 0;
    margin-bottom: 2vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .coupon-card-wrap img {
    width: 4vw;
    height: 4vw;
    margin-right: 1.333333vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .coupon-card-wrap .content {
    color: #fff;
    text-align: left;
    font-size: 1.866667vw;
    flex: 1
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .coupon-card-wrap .content p {
    font-weight: 500;
    margin-bottom: .666667vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .coupon-card-wrap .content span {
    font-size: 1.6vw;
    background: #fff;
    border-radius: 13.333333vw;
    padding: 1px 1.333333vw;
    color: #424b56
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .mine-top-nav {
    padding: 0 2vw;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .4)
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .mine-top-nav .nav-item {
    flex: 0 1 33%;
    box-shadow: 0 0 1.333333vw 0 rgba(0, 0, 0, .05);
    border-radius: 1.066667vw;
    padding: 1.333333vw .666667vw;
    box-sizing: border-box;
    position: relative;
    text-align: center
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .mine-top-nav .nav-item p {
    font-weight: 500;
    font-size: 1.866667vw
}

.mine-popup-left[data-v-70b08a54].van-popup .mine-page .mine-top-nav .nav-item img {
    width: 4vw;
    height: 4vw
}

.empty-wrap[data-v-5aa36312] {
    width: 100%
}

.empty-wrap .empty[data-v-5aa36312] {
    width: 33.333333vw;
    height: 33.333333vw;
    margin: 0 auto
}

.empty-wrap .text[data-v-5aa36312] {
    color: #f5b9be;
    font-weight: 500;
    font-size: 3.733333vw;
    margin-top: 2.666667vw
}

.investpage[data-v-77274192] {
    min-height: 100vh;
    background: #f3f4f6;
    padding: 4vw 0 21.333333vw
}

.investpage .titleho[data-v-77274192] {
    font-size: 5.6vw;
    color: #000;
    font-weight: 500
}



.investpage .myproduct .left-box .leftcts[data-v-77274192] {
    text-align: left;
    display: flex
}

.investpage .myproduct .left-box .leftcts p[data-v-77274192] {
    font-size: 4.533333vw;
    color: #fff;
    font-weight: 600;
    font-family: ui2
}

.investpage .myproduct .left-box .leftcts span[data-v-77274192] {
    font-size: 3.466667vw;
    color: #fff;
    margin-right: 1.333333vw;
    font-weight: 500
}

.investpage .myproduct .left-box .rightcts[data-v-77274192] {
    margin-top: 1.333333vw
}

.investpage .myproduct .r-record[data-v-77274192] {
    padding: 1.333333vw;
    background: #fe000b;
    border-radius: .666667vw;
    color: #fff;
    font-weight: 500;
    font-size: 2.933333vw
}

.investpage .imgvest[data-v-77274192] {
    width: 100%;
    height: auto;
    margin-top: 2.266667vw
}

.investpage .listbox[data-v-77274192] {
    background: #f7f7f9;
    padding: 2.4vw 4vw;
    margin: 2vw 0 8vw
}

.investpage .listbox .left-list .topment[data-v-77274192] {
    display: flex;
    align-items: center
}

.investpage .listbox .left-list .topment p[data-v-77274192] {
    font-size: 4.266667vw;
    color: #000;
    font-weight: 600;
    margin-right: 1.333333vw
}

.investpage .listbox .left-list .topment img[data-v-77274192] {
    width: 2.933333vw;
    height: auto
}

.investpage .listbox .left-list .settled[data-v-77274192] {
    font-size: 3.466667vw;
    color: #f40;
    text-align: left;
    font-weight: 500
}

.investpage .listbox .mybtnp[data-v-77274192] {
    background: linear-gradient(270deg, #000, #242424 56%, #414141);
    border-radius: 1.333333vw;
    display: flex;
    align-items: center;
    padding: 2.4vw 3.2vw
}

.investpage .listbox .mybtnp p[data-v-77274192] {
    color: #fff;
    font-size: 4vw;
    margin-right: 1.333333vw;
    font-weight: 500
}

.investpage .listbox .mybtnp img[data-v-77274192] {
    width: 2.933333vw;
    height: auto
}

.investpage .doublebox[data-v-77274192] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2.666667vw;
    min-height: 70vh
}

.investpage .doublebox .dailyuis[data-v-77274192] {
    background: #f7f7f9;
    border-radius: 3.2vw;
    width: 46vw;
    margin-bottom: 7.333333vw
}

.investpage .doublebox .dailyuis .imgpro[data-v-77274192] {
    width: 33.866667vw;
    height: auto;
    display: block;
    border-radius: 1.333333vw;
    margin: 0 auto;
    transform: translateY(-3.333333vw)
}

.investpage .doublebox .dailyuis .mask[data-v-77274192] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.investpage .doublebox .dailyuis .mask .lock[data-v-77274192] {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    border-radius: 2rem;
    padding: 3rem 2rem 2rem
}

.investpage .doublebox .dailyuis .mask .lock img[data-v-77274192] {
    width: 9.8rem;
    height: 9.8rem;
    display: block;
    margin: 0 auto
}

.investpage .doublebox .dailyuis .mask .lock .opening[data-v-77274192] {
    margin-top: 1.5rem;
    font-size: 2.8rem;
    font-weight: 500;
    color: #fff
}

.investpage .doublebox .dailyuis .mask .lock .times[data-v-77274192] {
    margin-top: .5rem;
    font-size: 3.2rem;
    color: #0c51a1;
    font-weight: 500
}

.investpage .doublebox .dailyuis .mask .lock .btnting[data-v-77274192] {
    padding: 1rem 2rem;
    background: linear-gradient(270deg, #ff6f00, #ffad10);
    border-radius: 3rem;
    font-weight: 500;
    color: #fff;
    font-size: 2.8rem;
    margin-top: 1.5rem
}

.investpage .doublebox .dailyuis .douaster[data-v-77274192] {
    font-size: 3.733333vw;
    color: #000;
    font-weight: 600
}

.investpage .doublebox .dailyuis .line[data-v-77274192] {
    width: 37.333333vw;
    height: .7px;
    background: #000;
    opacity: .4;
    margin: 1.333333vw auto 2.666667vw
}

.investpage .doublebox .dailyuis .botm-list[data-v-77274192] {
    padding: 0 2.666667vw
}

.investpage .doublebox .dailyuis .botm-list .daily-list p[data-v-77274192] {
    font-size: 3.2vw;
    color: rgba(0, 0, 0, .5);
    font-weight: 500
}

.investpage .doublebox .dailyuis .botm-list .daily-list span[data-v-77274192] {
    font-size: 3.066667vw;
    color: #000;
    font-weight: 600;
    font-family: ui2
}

.investpage .doublebox .dailyuis .btnnow[data-v-77274192] {
    padding-left: 3.733333vw;
    margin-top: 3.333333vw
}

.investpage .doublebox .dailyuis .btnnow p[data-v-77274192] {
    font-size: 3.333333vw;
    color: #e21b15;
    font-weight: 600;
    font-family: ui2
}

.investpage .doublebox .dailyuis .btnnow button[data-v-77274192] {
    background: #e21b15;
    border-radius: 3.2vw 0 3.2vw 0;
    font-size: 3.466667vw;
    color: #fff;
    padding: 1.333333vw 2.266667vw;
    font-weight: 500
}

.investpage .section-box[data-v-77274192] {
    padding: 0 4vw;
    margin-top: 2vw
}

.investpage .section-box .myproduct[data-v-77274192] {
    background: linear-gradient(270deg, #ff4a4a, #d91d1d);
    border-radius: 1.866667vw;
    padding: 2.666667vw 4vw
}

.investpage .section-box .myproduct .leftcts[data-v-77274192] {
    text-align: left
}

.investpage .section-box .myproduct .leftcts p[data-v-77274192] {
    font-size: 4.533333vw;
    color: #fff;
    font-weight: 600
}

.investpage .section-box .myproduct .leftcts span[data-v-77274192] {
    font-size: 3.466667vw;
    color: #fff;
    font-weight: 500
}

.investpage .section-box .myproduct .rightcts[data-v-77274192] {
    text-align: right
}

.investpage .section-box .productList .item[data-v-77274192] {
    width: 91.466667vw;
    background: #f7f7f9;
    border-radius: 3.2vw;
    margin: 0 auto 2.666667vw;
    padding: 2.666667vw 3.333333vw 2vw
}

.investpage .section-box .productList .item .imgWrap[data-v-77274192] {
    display: flex;
    width: 100%
}

.investpage .section-box .productList .item .imgWrap img[data-v-77274192] {
    width: 33.866667vw;
    height: 21.6vw;
    border-radius: 1.6vw
}

.investpage .section-box .productList .item .imgWrap .rightInfo[data-v-77274192] {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding-left: 2.933333vw
}

.investpage .section-box .productList .item .imgWrap .rightInfo .name[data-v-77274192] {
    font-weight: 600;
    font-size: 4.8vw;
    color: #000
}

.investpage .section-box .productList .item .imgWrap .rightInfo .dateWrap[data-v-77274192] {
    display: flex;
    align-items: center
}

.investpage .section-box .productList .item .imgWrap .rightInfo .dateWrap img[data-v-77274192] {
    width: 5.333333vw;
    height: 6.666667vw
}

.investpage .section-box .productList .item .imgWrap .rightInfo .text1[data-v-77274192] {
    font-size: 3.2vw;
    color: #a5a5a5
}

.investpage .section-box .productList .item .imgWrap .rightInfo .priceWrap[data-v-77274192] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.investpage .section-box .productList .item .imgWrap .rightInfo .priceWrap p[data-v-77274192] {
    font-size: 3.2vw;
    color: #a5a5a5
}

.investpage .section-box .productList .item .imgWrap .rightInfo .priceWrap span[data-v-77274192] {
    font-weight: 500;
    font-size: 4.266667vw;
    color: #e21b15
}

.investpage .section-box .productList .item .bottomWrap[data-v-77274192] {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: .666667vw
}

.investpage .section-box .productList .item .bottomWrap .bottomItem[data-v-77274192] {
    text-align: left;
    width: 30%;
    padding-top: .666667vw
}

.investpage .section-box .productList .item .bottomWrap .bottomItem p[data-v-77274192] {
    font-weight: 500;
    font-size: 3.733333vw;
    color: #000;
    letter-spacing: -1px
}

.investpage .section-box .productList .item .bottomWrap .bottomItem span[data-v-77274192] {
    font-size: 2.933333vw;
    color: #a5a5a5;
    display: block
}

.investpage .section-box .productList .item .incomeWrap[data-v-77274192] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .666667vw
}

.investpage .section-box .productList .item .incomeWrap .left[data-v-77274192] {
    text-align: left
}

.investpage .section-box .productList .item .incomeWrap .left p[data-v-77274192] {
    font-weight: 500;
    font-size: 3.733333vw;
    color: #e21b15
}

.investpage .section-box .productList .item .incomeWrap .left span[data-v-77274192] {
    font-size: 2.933333vw;
    color: #a5a5a5;
    display: block
}

.investpage .section-box .productList .item .incomeWrap .viewBtn[data-v-77274192] {
    width: 40.133333vw;
    height: 8vw;
    background: linear-gradient(0, #d91d1d, #ff4a4a);
    border-radius: 2.133333vw
}

.investpage .section-box .productList .item .incomeWrap .viewBtn[data-v-77274192] .van-button__text {
    font-weight: 700;
    font-size: 4vw;
    color: #fff
}

.investpage .section-box .withbox-mine[data-v-77274192] {
    background: #f7f7f9;
    border-radius: 1.466667vw;
    display: flex;
    align-items: center;
    margin: 2.933333vw 0 4vw
}

.investpage .section-box .withbox-mine .leftsit[data-v-77274192] {
    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #000, #414141);
    border-radius: 1.333333vw;
    padding: 2.133333vw 6.666667vw
}

.investpage .section-box .withbox-mine .leftsit p[data-v-77274192] {
    font-size: 4.266667vw;
    color: #fff;
    font-weight: 600;
    margin-right: 1.066667vw
}

.investpage .section-box .withbox-mine .leftsit img[data-v-77274192] {
    width: 2.933333vw;
    height: auto
}

.investpage .section-box .withbox-mine .righto[data-v-77274192] {
    background: none
}

.investpage .section-box .withbox-mine .righto p[data-v-77274192] {
    color: #000
}

.investpage .section-box .item[data-v-77274192] {
    width: 91.466667vw;
    background: #fff;
    box-shadow: 0 .266667vw 1.2vw 0 rgba(0, 0, 0, .13);
    border-radius: 3.2vw;
    margin: 0 auto 4vw;
    padding: 4vw
}

.investpage .section-box .item .imgWrap .img-box[data-v-77274192] {
    display: flex;
    align-items: center
}

.investpage .section-box .item .imgWrap .img-box img[data-v-77274192] {
    width: 23.066667vw;
    border-radius: 1.333333vw
}

.investpage .section-box .item .imgWrap .img-box .r-info[data-v-77274192] {
    margin-left: 4vw
}

.investpage .section-box .item .imgWrap .img-box .r-info .name[data-v-77274192] {
    font-weight: 600;
    font-size: 4.8vw;
    color: #000;
    text-align: left
}

.investpage .section-box .item .imgWrap .img-box .r-info .cycle-box[data-v-77274192] {
    text-align: left;
    margin-top: 2.666667vw
}

.investpage .section-box .item .imgWrap .img-box .r-info .cycle-box .cycle[data-v-77274192] {
    font-weight: 500;
    font-size: 3.466667vw;
    color: #85888e
}

.investpage .section-box .item .imgWrap .img-box .r-info .cycle-box .cycle span[data-v-77274192] {
    color: red;
    margin-left: .666667vw
}

.investpage .section-box .item .imgWrap .bottomWrap[data-v-77274192] {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f3f4f6;
    padding: 4vw;
    border-radius: 1.866667vw;
    margin-top: 4vw
}

.investpage .section-box .item .imgWrap .bottomWrap .bottomItem[data-v-77274192] {
    text-align: left;
    width: 48%;
    padding-top: .666667vw;
    text-align: center
}

.investpage .section-box .item .imgWrap .bottomWrap .bottomItem p[data-v-77274192] {
    font-weight: 700;
    font-size: 3.733333vw;
    color: red
}

.investpage .section-box .item .imgWrap .bottomWrap .bottomItem span[data-v-77274192] {
    font-size: 2.933333vw;
    color: #333;
    display: block;
    font-weight: 500
}

.investpage .section-box .item .imgWrap .bottomWrap .lined[data-v-77274192] {
    width: .4vw;
    height: 12.133333vw;
    background: #e5e6ea
}

.investpage .section-box .item .imgWrap .income-time[data-v-77274192] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vw
}

.investpage .section-box .item .imgWrap .income-time .l-tile[data-v-77274192] {
    font-size: 2.933333vw;
    color: #000
}

.investpage .section-box .item .imgWrap .income-time .r-time[data-v-77274192] {
    font-weight: 500;
    font-size: 3.733333vw;
    color: #999
}

.investpage .logo-text[data-v-77274192] {
    font-family: NunitoSans;
    font-weight: 400;
    font-size: 3.2vw;
    color: #474747;
    text-align: left;
    padding-left: 4vw
}

[data-v-77274192] .tabs-box {
    margin-top: 4vw
}

[data-v-77274192] .tabs-box .van-tabs__wrap {
    height: 11.333333vw;
    padding: 1.333333vw 2vw
}

[data-v-77274192] .tabs-box .van-tabs__wrap .van-tabs__nav {
    background: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    justify-content: space-between !important
}

[data-v-77274192] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab {
    width: 48%;
    background: #fff;
    box-shadow: 0 .266667vw 1.2vw 0 rgba(0, 0, 0, .13);
    border-radius: 1.066667vw;
    flex: initial
}

[data-v-77274192] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab .van-tab__text {
    display: flex;
    align-items: center
}

[data-v-77274192] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab .van-tab__text p {
    font-size: 3.466667vw;
    color: #666;
    font-weight: 600;
    margin-right: 1.2vw
}

[data-v-77274192] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab .van-tab__text img {
    width: 2.666667vw;
    height: auto
}

[data-v-77274192] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab--active {
    background: #fe000b;
    border-radius: 1.333333vw
}

[data-v-77274192] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab--active .van-tab__text p {
    color: #fff
}

[data-v-77274192] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tabs__line {
    display: none
}

[data-v-77274192] .tabs-box .van-tabs__content {
    margin-top: 2.666667vw
}

[data-v-77274192] .van-count-down {
    font-weight: 700;
    font-size: 5.866667vw;
    color: #e21b15
}