.menu-container {
    display: flex;
    /*width: 80%;*/
    max-width: 700px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 0 12px;
}

/* Links */
.menu-link {
    flex: 1;
    text-decoration: none;
    border: none;
    border-left: none !important;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item {
    flex: 1;
    background-color: #fff;
    color: #d00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eee;
    transition: background 0.3s, color 0.3s;
    width: 100%;
    height: 100%;
    position: relative;
}

.menu-link:last-child .menu-item {
    border-right: none;
}

.menu-item:hover {
    background-color: #ffeaea;
}

.menu-link.active .menu-item {
    background-color: #e60000;
    color: #fff;
}

.icon {
    font-size: 24px;
    margin-bottom: 8px;
}

.bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.title {
    font-size: 14px;
    white-space: nowrap;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e60000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}

.menu-link.active .circle {
    background-color: #fff;
}

.arrow {
    font-size: 20px;
    color: #fff;
    transition: color 0.3s;
    line-height: 1;
}

.menu-link.active .arrow {
    color: #e60000;
}


.title {
    color: red
}

.menu-link.active .title {
    color: white
}